{% extends 'base.html' %}

{% block content %}


<div class="postView">
    <h2>{{ post.user.display_name }} <span>@{{ post.user.username }}</span></h2>

    <img src="{{ post.image }}" alt="">

    <p>{{ post.body }}</p>

    <hr style="border: 1px solid black">

    <form action="/reply/{{ post.id }}" method="POST" class="replyForm">
        {{ form.csrf_token }}
        {{ form.body }}


        {{ form.submit }}
    </form>

    <h2 style="text-align: center;">Replies</h2>

    {% for reply in replies %}
    <div class="reply">
        <h3>{{ reply.user.display_name }} <span>@{{ reply.user.username }}</span></h3>
        <p>{{ reply.body }}</p>
    </div>

    {% endfor %}

</div>

{% endblock %}